@import "tailwindcss";

@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }
  body {
    background-color: white !important;
    color: black !important;
  }
  header, footer, nav, button {
    display: none !important;
  }
}
